<div class="container mt-5">
    <div class="container mt-5">
        <!-- Formulario para crear nuevo empleado -->
        <div class="mt-4">
          <h3>Crear Nuevo Empleado</h3>
          <form (ngSubmit)="crearEmpleado()">
            <div class="form-group mb-3">
              <label for="nombre_completo">Nombre Completo</label>
              <input type="text" class="form-control" id="nombre_completo" [(ngModel)]="nuevoEmpleado.nombre_completo" name="nombre_completo" required>
            </div>
            <div class="form-group mb-3">
              <label for="rut">RUT</label>
              <input type="text" class="form-control" id="rut" [(ngModel)]="nuevoEmpleado.rut" name="rut" required>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="nuevoEmpleado.email" name="email" required>
            </div>
            <div class="form-group mb-3">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="nuevoEmpleado.password" name="password" required>
            </div>
            <!-- Selección de empresa -->
            <div class="form-group mb-3">
              <label for="empresa">Empresa</label>
              <select class="form-control" id="empresa" [(ngModel)]="nuevoEmpleado.empresa" name="empresa" required>
                <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nombre }}</option> 
              </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Crear Empleado</button>
          </form>
        </div>
      </div>
      
  
   
  
    <!-- Lista de empleados -->
    <h2 class="mb-4">Lista de Empleados</h2>
     <!-- Filtros para buscar empleados -->
     <div class="row mb-3">
      
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="filtroEmpresa">
            <option value="">Todas las Empresas</option>
            <option *ngFor="let empresa of empresas" [value]="empresa.nombre">{{ empresa.nombre }}</option>
          </select>
        </div>
      </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>RUT</th>
          <th>Email</th>
          <th>Empresa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of (empleados | filter: filtroNombre:'nombre_completo' | filter: filtroEmpresa:'empresa.nombre')">
          <td>{{ empleado.nombre_completo }}</td>
          <td>{{ empleado.rut }}</td>
          <td>{{ empleado.email }}</td>
          <td>{{ empleado.empresa?.nombre }}</td> <!-- Mostrar nombre de la empresa -->
        </tr>
      </tbody>
    </table>
  </div>
  