<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <h2>Bienvenido</h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a routerLink="/empresas" class="btn btn-outline-primary w-100">Empresas</a>
          </li>
          <li class="list-group-item">
            <a routerLink="/empleados" class="btn btn-outline-secondary w-100">Empleados</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
